<div class="ui stackable menu">
	<div class="ui container">
		<div class="item">
			<img src="/home/public/img/familia-logo.png">
		</div>
		<a href="/" class="item">Familia</a>
		<div class="ui dropdown item">
			Contacts
			<i class="dropdown icon"></i>
			<div class="menu">
				<a href="/contacts/add" class="item">Add</a>
				<a href="/contacts/list" class="item">List</a>
			</div>
		</div>
		<div class="ui dropdown item">
			Houses
			<i class="dropdown icon"></i>
			<div class="menu">
				<a href="/houses/add" class="item">Add</a>
				<a href="/houses/list" class="item">List</a>
			</div>
		</div>
		<div class="right menu">
			<div class="item">
				<div class="ui search" id="navbar-search-contacts">
					<div class="ui left icon input">
						<input class="prompt" placeholder="Search Contacts" type="text">
						<i class="address book outline icon"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>