.contacts-table i.male{
	color: #4080ff;
}
.contacts-table i.female{
	color: #ff4080;
}
.capitalize{
	text-transform: capitalize;
}
header.house-header{
	background-color: #3b9;
	background-image: url('/home/public/img/houses-cover.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	border-radius: 4px;
}

.house header.house-header h1{
	padding: 100px 0px;
	color: white;
	text-shadow: 2px 2px 4px #000;
}

#contacts-statistics .card .image{
	padding: 10px;
}

.calm-bg{
	background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'); 
	background-position: center center;
	background-size: cover;
}