<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to familia</title>
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/home/public/css/calendar.min.css">
	<link rel="stylesheet" href="/contacts/public/css/contacts.css">
</head>
<body>
	<% include ../../home/views/partials/navbar.ejs %>
	<div class="ui container">
		<div class="ui stackable centered grid">
			<div class="ten wide column">
				<div class="ui segment">		
					<h1>Welcome to Familia. Be a part of the familia tree by filling your basic details.</h1>
				</div>
			</div>
		</div>
	</div>
	<% include ../../home/views/partials/scripts.ejs %>
</body>
</html>