<!DOCTYPE html>
<html>
<head>
	<title><%= users.title %></title>
	<meta name="description" content="<%= users.metaDescription %>">
	<meta name="keywords" content="<%=  users.metaKeywords %>">
	<meta name="author" content="guyswhocode">
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/users/public/css/users.css">
</head>
<body>
	<h1><%= users.title %></h1>
	<% include ../../home/views/partials/footer.ejs %>
	<% include ../../home/views/partials/scripts.ejs %>	
</body>
</html>
