<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add House</title>
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/home/public/css/calendar.min.css">
	<link rel="stylesheet" href="/contacts/public/css/contacts.css">
</head>
<body>
	<% include ../../home/views/partials/navbar.ejs %>
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="four wide column">
				<div class="ui segment">
					<form action="/api/signup" method="POST" class="ui form" id="user-form">
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" placeholder="johndoe@gmail.com">
						</div>
						<div class="field">
							<label for="username">Username</label>
							<input type="text" name="username" placeholder="johnd">
						</div>
						<div class="field">
							<label for="username">Password</label>
							<input type="password" name="password" placeholder="Password">
						</div>
						<input type="submit" value="Sign Up" class="ui basic green button" id="add-user">
					</form>
				</div>
			</div>
			<div class="twelve wide column">
				<img src="/home/public/img/familia-logo-full.png" alt="" class="ui centered image">
			</div>
		</div>
	</div>
	<% include ../../home/views/partials/scripts.ejs %>
	<script>
		$('#add-user').on('click', function(e){
			e.preventDefault();
			$.ajax({
				url: '/api/signup',
				type: 'POST',
				data: $('#user-form').serialize(),
				success: function(data, status, xhr){
					if(xhr.status == 201){
						window.location = "/contacts/welcome";
					}
				}
			})
		});
	</script>
</body>
</html>