<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign In | <%= home.title %></title>
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/home/public/css/calendar.min.css">
	<link rel="stylesheet" href="/contacts/public/css/contacts.css">
</head>
<body class="calm-bg">
	<% include ../../home/views/partials/navbar.ejs %>
	<div class="ui centered stackable grid container">
		<div class="four wide column">
			<div class="ui segment"  style="margin-top: 150px;">
				<form action="/api/signin" method="POST" class="ui form" id="signin-form">
					<div class="field">
						<label for="title">Username</label>
						<div class="ui left icon input">
							<input type="text" name="username" placeholder="Username">
							<i class="user icon"></i>
						</div>
					</div>
					<div class="field">
						<label for="title">Password</label>
						<div class="ui left icon input">
							<input type="password" name="password" placeholder="Password">
							<i class="lock icon"></i>
						</div>
					</div>
					<input type="submit" value="Sign In" class="ui basic primary button" id="user-signin">
				</form>
			</div>
		</div>
	</div>
	<% include ../../home/views/partials/scripts.ejs %>
	<script>
		$('#user-signin').on('click', function(e){
			e.preventDefault();
			$.ajax({
				url: '/api/signin',
				type: 'POST',
				data: $('#signin-form').serialize(),
				success: function(data, status, xhr){
					if(xhr.status == 200){
						if(data.redir != undefined)
							window.location = data.redir;
						else
							window.location = '/';
					}
				}
			})
		});
	</script>
</body>
</html>